#wk {
    width: 100%;

}

/*第一部分*/
#wk-f {
    /*background-color: yellow;*/
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#wk-f a {
    position: absolute;
    left: 10px;
    top: 60px;
}

#wk-f a img {
    height: 15px;
    width: 15px;
}

#wk-f2 {
    background-color: white;
}

#wk-f2 img {
    height: 80px;
    width: 80px;
}

/*第二部分*/
#wks2{
    width: 100%;
    padding: 15px;
}
#wks2 form input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 1px #FAFAFA solid ;
    color: #C9C9C9;
    caret-color: #FE8C00;

}
#fom-d{
    position: relative;
    display: flex;
}
#inp-by{
    height: 20px;
    width: 150px;
    /*background-color: #E2231A;*/
    position: absolute;
    top: 10px;
    right: 40px;
}
#ib{
    height: 15px;
    width: 18px;
    background-color: white;
    float: left;
}
#ib2{
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    background-color: seagreen;
    margin-top: 5px;
    margin-left: 1px;
}
#ib3{
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background-color: white;
    position: absolute;
    top: 6px;
    left: 2px;
}
#inp-by span{
    position: absolute;
    right: 100px;
    top: 2px;
}
#ib4{
    right: 0 !important;
    top: 3px !important;
}
#dl{
    height: 45px;
    width:90%;
    background-color: #FE8C00;
    background-image: linear-gradient(-133deg, #FFBD00 0%, #FFD000 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#yzzc{
    height: 100px;
    width: 90%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}


