#wk {
    height: 100%;
    width: 100%;
}

#wkk {
    width: 100%;
}

#wkf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #FE8C00;
    background-image: linear-gradient(-133deg, #FFBD00 0%, #FFD000 100%);
}

#wkf2 {
    height: 18px;
    width: 10px;
    padding-left: 15px;
}

#wkf div {
    position: absolute;
    left: 41%;
    font-size: 17px;
}

#wkf3 {
    position: absolute;
    right: 12%;
    height: 20px;
    width: 23px;
    padding-right: 15px;
}

#wkf4 {
    position: absolute;
    right: 6%;
    height: 24px;
    width: 22px;
}

#geren {
    position: relative;
    height: 85px;
    width: 100%;
    background-color: #F0EFE5;
    border-bottom: #E8E7E5 10px solid;
}

#touxiang {
    position: absolute;
    top: 17px;
    left: 20px;
    height: 60px;
    width: 60px;
}

#touxiang img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

#yonghuming {
    position: absolute;
    left: 27%;
    top: 26%;
    font-size: 16px;
}

#yue {
    position: absolute;
    left: 27%;
    top: 60%;
    font-size: 13px;
}

#w2 {
    position: absolute;
    left: 45%;
    top: 60%;
    font-size: 13px;
    color: red;
}

#w3 {
    position: absolute;
    left: 47%;
    top: 60%;
    font-size: 13px;
}

#w4 {
    position: absolute;
    right: 2%;
    top: 26px;
    color: #999999;
    font-size: 25px;
}

/*第二部分*/
#wkss {
    height: 50px;
    width: 100%;
}

#wks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom: #F4F2EE 1px solid;
}

#wks2 {
    position: absolute;
    left: 2%;
    height: 30px;
    width: 35px;
}

#wks2 img {
    height: 100%;
    width: 100%;
}

#wks3 {
    position: absolute;
    left: 13%;
    font-size: 14px;
}

#wks4 {
    position: absolute;
    right: 2%;
    color: #999999;
    font-size: 21px;
}

#wkt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    width: 100%;
    border-bottom: #F0EFED 10px solid;
}

.wkt2 {
    height: 60px;
    width: 43px;
}

.wkt2 img {
    height: 40px;
    width: 40px;
}

.wkt2 div {
    font-size: 13px;
}

/*1*/
#wkd {
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom: #F4F2EE 1px solid;
}

#wkd img {
    padding-left: 9px;
    padding-top: 11px;
    height: 30px;
    width: 30px;
}

.wode {
    position: absolute;
    left: 50px;
    top: 16px;
    font-size: 14px;
}

.dayuhao {
    position: absolute;
    right: 2%;
    top: 11px;
    color: #999999;
    font-size: 21px;
}

/*2*/
#wkd2 {
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom: #F4F2EE 1px solid;
}

#wkd2 img {
    padding-left: 9px;
    padding-top: 11px;
    height: 30px;
    width: 30px;
}

/*3*/
#wkd3 {
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom: #F4F2EE 1px solid;
}

#wkd3 img {
    padding-left: 9px;
    padding-top: 11px;
    height: 30px;
    width: 30px;
}

/*4*/
#wkd4 {
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom: #F4F2EE 1px solid;
}

#wkd4 img {
    padding-left: 9px;
    padding-top: 11px;
    height: 30px;
    width: 30px;
}

/*第三部分*/
#wkg {
    height: 20px;
    width: 87%;
    margin: auto;
    margin-top: 18px;
}

#wkg2 {
    font-size: 13px;
}

#wkg img {
    height: 16px;
    width: 16px;
}

#wkg3 {
    font-size: 13px;
}

#wkh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.ms {
    font-size: 10px;
    color: #FE8C00;
}

.der {
    font-size: 10px;
}

#ss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.ss2 {
    font-size: 10px;
    color: #646464;
}

#sss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15px;
    width: 70%;
    margin: auto;
    margin-top: 8px;
}

#ssss {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 70%;
    margin: auto;
    margin-top: 8px;
}

.

